* {
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: black;
    margin-bottom: 10px;
    color: white;
    padding: 0 10px;
}

footer{
    background-color: #c4c4c4;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link > a{
    text-decoration: none;
    color: inherit;
    font-size: 12px;
}
.link > a:hover{
    color: gray;
    text-decoration: none;
}
#logo {
    font-family: 'Poller One', cursive;
    font-size: 24px;
    display: flex;
    align-items: center;
}
#drop-down{
    width: 50px;
}
#store-description-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#has-logo{
    width: 40%;
    min-width: 375px;
}
#store-description{
    width: 40%;
    min-width: 375px
}
#antiques-links{
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#owners-container{

    display: flex;
    flex-direction: column;
    width: 100%;
}
#owner-image-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h3{
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#owner-one, #owner-two, #owner-three{
    width: 106px;
    height: 106px;
    border-radius: 50px;
    margin-bottom: 10px;
}
#quote{
    margin: 50px auto;
}
h2, h6{
    text-align: center;
}
.icon{
    width: 30px;
    margin: 0 20px;
}
#social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-text{
    color: #AF6868;
}


.item-img{
    background: url(https://images.unsplash.com/photo-1518893883800-45cd0954574b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=674&q=80) center  no-repeat; 
    background-size: contain;
    height: 150px;


    padding: 25%;
    margin-left: 50;
 
}

.item-img1{
    background: url(https://images.unsplash.com/photo-1574165425243-9eb1d2518658?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjcyMDE3fQ&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450) center  no-repeat; 
    background-size: contain;
    height: 150px;


    padding: 25%;
    margin-left: 50;
 
}
.item-img2{
    background: url(https://images.unsplash.com/photo-1598560917807-1bae44bd2be8?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjcyMDE3fQ&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450    ) center  no-repeat; 
    background-size: contain;
    height: 150px;


    padding: 20%;
    margin-left: 50;
 
}
.title{
    font-size: 15px;
    padding: 15px;
    margin-top: -20px;

    
}
.description-container{
    width: 50%;
    margin-right: 20% ;

 
  
}

.description-container1{
    width: 50%;
    margin-right: 20% ;
    padding-left: 25px;
 
  
}

#shop{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.name{
    margin-left: 25px;
}

